<div class="line">
    <h1>Edit playlist</h1>
    <button class="close-btn" (click)="onClose()"><i class="fas fa-window-close close-icon"></i></button>
</div>

<form [formGroup]="formModel" (ngSubmit)="onSubmit()" class="form-model">
    <div class="input-group">
        <label>Title</label>
        <input type="text" placeholder="Name your playlist..." class="form-control" formControlName="title" required />
    </div>
    <div class="input-group">
        <label>Description</label>
        <textarea placeholder="Describe your playlist ..." class="form-control" formControlName="description" required></textarea>
    </div>
    <div class="center-button">
        <button class="modal-button submit-button" type="submit">Edit</button>
        <button (click)="onClose()" class="modal-button close-button">Cancel</button>
    </div>
</form>
