<form [formGroup]="formModel" (ngSubmit)="onSubmit()" class="form-model">
    <div class="input-group">
        <input type="text" placeholder="Email..." class="form-control" formControlName="email" required (focus)="onFocus()" />
        <div *ngIf="(email && email.invalid && (email.dirty || email.touched)) || (submitted && email.invalid)" class="icon-status-invalid"> </div>
        <div *ngIf="(email && email.valid && (email.dirty || email.touched)) || (submitted && email.valid)" class="icon-status-valid"> </div>
        <div *ngIf="(email && email.invalid && (email.dirty || email.touched)) || (submitted && email.invalid)" class="error-messages">
            <div *ngFor="let error of getErrorsControl('email')" class="text-danger">
                {{ getErrorMessage(error) }}
            </div>
        </div>
    </div>
    <div class="input-group">
        <input [type]="isShown ? 'text' : 'password'" placeholder="Password..." class="form-control" formControlName="password" required (focus)="onFocus()" />
        <span class="password-icon" (click)="onShow()">
            <i [class]="isShown ? 'fas fa-eye' : 'fas fa-eye-slash'"> </i>
        </span>
        <div *ngIf="(password && password.invalid && (password.dirty || password.touched)) || (submitted && password.invalid)" class="icon-status-invalid"> </div>
        <div *ngIf="(password && password.valid && (password.dirty || password.touched)) || (submitted && password.valid)" class="icon-status-valid"> </div>
        <div *ngIf="(password && password.invalid && (password.dirty || password.touched)) || (submitted && password.invalid)" class="error-messages">
            <div *ngFor="let error of getErrorsControl('password')" class="text-danger">
                {{ getErrorMessage(error) }}
            </div>
        </div>
    </div>
    <div class="flex-wrapper">
        <div class="checkbox">
            <input class="checkbox-input" type="checkbox" [checked]="checked" (change)="handleCheckboxChange()" />
            <span class="checkbox-span">Keep me signed in</span>
        </div>
        <span class="forget-password">Forget <a class="link" href="#">password?</a></span>
    </div>
    <div class="center-button">
        <button type="submit" class="submit-button"> Submit </button>
        <button (click)="onClose()" class="close-button">Close</button>
    </div>
</form>
