<div class="player-container">
    <div class="slider-row">
        <span>{{ audioState?.currentTime | toTimeFormat }}</span>
        <mat-slider class="time-slider" min="0" [max]="audioState?.duration === '0' ? 1 : audioState?.duration" step="1" [value]="audioState?.currentTime"></mat-slider>
        <span>{{ audioState?.duration | toTimeFormat }}</span>
    </div>
    <div class="media-action-bar">
        <div class="track-info">
            <img *ngIf="audioState?.trackImage" class="track-image" [src]="audioState?.trackImage" />
            <div class="columns">
                <span className="title">{{ audioState?.trackTitle }}</span>
                <span className="artist">{{ audioState?.trackArtist }}</span>
            </div>
        </div>
        <div class="play-controllers">
            <button mat-icon-button color="accent" [disabled]="isFirstTrack()" (click)="onPrevious()">
                <i class="fas fa-step-backward"></i>
            </button>
            <button mat-icon-button color="accent" *ngIf="!audioState?.isPlaying" (click)="onResume()">
                <i class="fas fa-play-circle play-icon"></i>
            </button>
            <button mat-icon-button color="accent" *ngIf="audioState?.isPlaying" (click)="onPause()">
                <i class="fas fa-pause-circle play-icon"></i>
            </button>
            <button mat-icon-button color="accent" [disabled]="isLastTrack(audioState?.trackId)" (click)="onNext()">
                <i class="fas fa-step-forward"></i>
            </button>
        </div>
        <div class="volume-controllers">
            <button mat-icon-button color="accent" *ngIf="!audioState?.isMuted" (click)="onMute()">
                <i class="fas fa-volume-up"></i>
            </button>
            <button mat-icon-button color="accent" *ngIf="audioState?.isMuted" (click)="onUnmute()">
                <i class="fas fa-volume-off"></i>
            </button>
            <mat-slider class="volume-slider" min="0" max="1" step="0.1" [value]="audioState?.volume" (input)="onVolumeChange($event)"></mat-slider>
        </div>
    </div>
</div>
