<div class="main-container">
    <mat-toolbar class="fixed-header">
        <!-- <button mat-button color="accent" (click)="sidenav.toggle()">
                <mat-icon>{{ opened ? 'menu_open' : 'menu' }}</mat-icon>
        </button> -->
        <!-- <div (click)="sidenav.toggle()" class="btn"> -->
        <button mat-flat-button (click)="onOpenMenu()" class="menu-btn">
            <div class="icon-bar" [@hamburguerX]="isHamburguer ? 'hamburguer' : 'topX'"></div>
            <div class="icon-bar" [@hamburguerX]="isHamburguer ? 'hamburguer' : 'hide'"></div>
            <div class="icon-bar" [@hamburguerX]="isHamburguer ? 'hamburguer' : 'bottomX'"></div>
        </button>

        <button mat-raised-button color="accent" (click)="onOpenModal()" class="modal-btn">Login</button>
    </mat-toolbar>
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #sidenav mode="side" [(opened)]="isOpenMenu" class="sidenav">
            <mat-nav-list mat-align-tabs="center" class="nav-list">
                <a *ngFor="let link of links" routerLink="{{ link.path }}" mat-list-item routerLinkActive="active-link" class="list-item">
                    <!-- <mat-icon>{{ link.iconName }}</mat-icon> -->
                    <i class="{{ link.iconName }} icon"></i>
                    <span>{{ link.pageName }}</span>
                </a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content class="sidenav-content">
            <main>
                <router-outlet></router-outlet>
            </main>

            <!-- <div class="center-align-wrapper">
                <ms-track-list></ms-track-list>
            </div> -->
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
