.card-list {
    padding: 10px 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.images-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2px;
    margin-bottom: 5px;
    width: 150px;
    height: 150px;
    img {
        width: 75px;
        height: 75px;
    }
}

.card {
    max-width: 150px;
    transition: all 0.3s ease 0s;
    .mat-card-image {
        margin-bottom: 10px;
    }
    .mat-card-title {
        font-size: 16px;
        margin: 5px 0 0;
    }
    .mat-card-subtitle {
        margin-bottom: 5px;
    }
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}
