@import "src/colors.less";

.dark-theme {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-content-wrapper {
    width: 275px;
    position: relative;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 15px 20px rgba(88, 88, 88, 0.4);
    /* text-align: center; */
}

.blur {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
}

// *.active-link {
//     color: rgb(212, 104, 222);
//     // border-bottom: 2px solid rgb(212, 104, 222);
//     // box-shadow: 0 4px 2px -2px rgb(212, 104, 222);
//     .border-line {
//         position: absolute;
//         bottom: -2px;
//         left: 0;
//         width: 100%;
//         height: 2px;
//         background-color: rgb(212, 104, 222);
//         box-shadow: 0 0 2px rgb(212, 104, 222);
//         // border-radius: 10px;
//     }
// }

.nav-bar {
    .tabs-list {
        display: flex;
        // justify-content: space-evenly;
        list-style: none;
        margin: 0;
        padding: 0 0 10px;
        .tab-item {
            flex-grow: 1;
            text-align: center;
        }
        .tab-link {
            display: block;
            text-decoration: none;
            color: rgb(111, 113, 109);
            font-family: RocketRinder;
            font-size: 23px;
            padding: 10px;
            cursor: pointer;
            position: relative;
            border-bottom: 2px solid rgba(88, 88, 88, 0.521);
            // transition: 1s;
            // &:extend(.active-link);
        }
        .active-link {
            color: @primary-color;
            // border-bottom: 2px solid rgb(212, 104, 222);
            // box-shadow: 0 4px 2px -2px rgb(212, 104, 222);
            .border-line {
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: @primary-color;
                box-shadow: 0 0 2px @primary-color;
                // border-radius: 10px;
            }
        }
    }
}
