<nav mat-tab-nav-bar mat-align-tabs="center">
    <a mat-tab-link routerLink="signIn" routerLinkActive="active">Sign In</a>
    <a mat-tab-link routerLink="signUp" routerLinkActive="active">Sign Up</a>
</nav>
<!-- <nav class="nav-bar">
    <ul class="tabs-list">
        <li class="tab-item">
            <a mat-tab-link routerLink="signIn" routerLinkActive="active">Sign In</a>
        </li>
        <li class="tab-item">
            <a mat-tab-link routerLink="signUp" routerLinkActive="active">Sign Up</a>
        </li>
    </ul>
</nav> -->
<router-outlet></router-outlet>
